*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.title{
   position: absolute;
   right: 40%;
   top: 25%;

}




.Contador_Contenedor{
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 25%;
    font-size: 1.5em;
}

.Contador_Contenedor div{
padding-left: 2em;
}

.ccdias{
    font-size: 2em;
}

.cchoras{
    font-size: 2em;

}

.ccmin{
    font-size: 2em;
}

.ccseg{
    font-size: 2em;
}
